<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

   <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A Blog Site</p>
    </div>

    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ducimus dignissimos ipsa, neque omnis odio iste! Alias optio tenetur recusandae possimus sunt? Assumenda inventore consectetur nemo facere voluptates soluta commodi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ducimus dignissimos ipsa, neque omnis odio iste! Alias optio tenetur recusandae possimus sunt? Assumenda inventore consectetur nemo facere voluptates soluta commodi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ducimus dignissimos ipsa, neque omnis odio iste! Alias optio tenetur recusandae possimus sunt? Assumenda inventore consectetur nemo facere voluptates soluta commodi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ducimus dignissimos ipsa, neque omnis odio iste! Alias optio tenetur recusandae possimus sunt? Assumenda inventore consectetur nemo facere voluptates soluta commodi.
        </p>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>

</html>